<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AgonesSDK" version="1.41.0" manuallyInstalled="true" />
  <package id="Google.Api.CommonProtos" version="2.10.0" />
  <package id="Google.Protobuf" version="3.24.3" />
  <package id="Grpc.Core.Api" version="2.57.0" />
  <package id="Grpc.Net.Client" version="2.57.0" />
  <package id="Grpc.Net.Common" version="2.57.0" />
  <package id="Microsoft.Extensions.Configuration" version="3.1.4" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="3.1.4" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="3.1.4" />
  <package id="Microsoft.Extensions.DependencyInjection" version="3.1.4" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.1.4" />
  <package id="Microsoft.Extensions.Logging" version="3.1.4" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.0" />
  <package id="Microsoft.Extensions.Options" version="3.1.4" />
  <package id="Microsoft.Extensions.Primitives" version="3.1.4" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.1" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
</packages>